<div id="reportsdiv" class="container">

     <div class="row">

         <div class="col-title"><span>Benchmark Reports</span></div>
         <div style="margin:5px">@Html.ActionLink("Gap Analysis & ROI", "../../Areas/RDL/Report.aspx", new { rpt = "" }, new { target = "_blank" })</div>
         <div style="margin:5px">@Html.ActionLink("Sales Rep to Franchise", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })</div>
         <div style="margin:5px">@Html.ActionLink("Franchise to Region", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })</div>
         <div style="margin:5px">@Html.ActionLink("Region to Country", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })</div>
         <div style="margin:5px">@Html.ActionLink("Country to All", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })</div>
    

      </div>


</div>