
<div id="reportsdiv" class="container">

     <div class="row">

         <div class="col-title"><span>Business Intelligence Reports</span></div>
	     <div style="margin:5px">@Html.ActionLink("Business Intelligence Dashboard", "../../Areas/RDL/Report.aspx", new { rpt = "CustomReportingDashboard-SPM2" }, new { target = "_blank" })</div>
        
         <div class="col-title"><span>Franchisee Reports</span></div>
         <div style="margin:5px">@Html.ActionLink("Closed Won by Region", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Closed Win by region by coach by franchise" }, new { target = "_blank" })</div>
         <div style="margin:5px">@Html.ActionLink("New Appointments by Source by Month", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - New Appts by Source by Month_WithPara" }, new { target = "_blank" })</div>
		 <div style="margin:5px">@Html.ActionLink("New Client Quantity & Average Contract Price by Month", "../../Areas/RDL/Report.aspx", new { rpt = "spm 2 - New Clients Quantity and avg  by Month_WithPara" }, new { target = "_blank" })</div>
         <div style="margin:5px">@Html.ActionLink("Class Headcount by Course & Industry by Month", "../../Areas/RDL/Report.aspx", new { rpt = "spm 2 -Class Headcount by Source by Industry by Month_WithPara" }, new { target = "_blank" })</div>
		 
		 
         <div class="col-title"><span>Client Reports</span></div>
         <div style="margin:5px">@Html.ActionLink("Sales Total by Month", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })</div>

		 
         <div class="col-title"><span>Product Reports</span></div>
         <div style="margin:5px">@Html.ActionLink("Sales Total by Month", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })</div>
		 <div style="margin:5px">@Html.ActionLink("Products Sold by Sales Rep", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Products Sold by Sales Rep_WITHPARA" }, new { target = "_blank" })</div>
		 
				  
         <div class="col-title"><span>Home Office</span></div>
         <div style="margin:5px">@Html.ActionLink("Sales Total by Month", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Sales Total by Month_WithPara" }, new { target = "_blank" })</div>
         <div style="margin:5px">@Html.ActionLink("Products Sold by Company by Franchise", "../../Areas/RDL/Report.aspx", new { rpt = "SPM 2 - Products Sold by Company_WithPara" }, new { target = "_blank" })</div>
		 
      </div>


</div>
