<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/css", "~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="title">
            </div>
            <div class="loginDisplay" style="display: none">
                <asp:loginview id="HeadLoginView" runat="server" enableviewstate="false">
                    <AnonymousTemplate>
                        <!--[ <a href="~/Account/Login.aspx" id="HeadLoginStatus" runat="server">Log In</a>
                        ]-->
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        Welcome <span class="bold">
                            <asp:LoginName ID="HeadLoginName" runat="server" />
                        </span>! [
                        <asp:LoginStatus ID="HeadLoginStatus" runat="server" LogoutAction="Redirect" LogoutText="Log Out"
                            LogoutPageUrl="~/" />
                        ]
                    </LoggedInTemplate>
                </asp:loginview>
            </div>
            <div class="clear hideSkiplink"><h1>@ViewBag.Title.</h1>
                <table border="0">
                    <tr>
                        <td>
                            <img src="~/images/header_logo.png" />
                        </td>
                        <td style="padding-top: 30px">
                            <table>
                                <tr>
                                    <td>
                                        <a href="~/Home/Index" class="menuLink">DASHBOARD</a>
                                    </td>
                                    <td>
                                        <a href="~/Home/Index" class="menuLink">REPORTS</a>
                                    </td>
                                    <td>
                                        <a href="~/CRM/Contacts" class="menuLink">CRM</a>
                                    </td>
                                    <td>
                                        <a href="#" class="disableLink">BENCHMARKS</a>
                                    </td>
                                    <td>
                                        <a href="#" class="disableLink">PRODUCTS</a>
                                    </td>
                                    <td>
                                        <a href="~/Account/LogOff" class="menuLink">LOGOUT</a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <div class="clear">
        </div>
        <div class="footer">
            <table width="100%">
                <tr>
                    <td align="left">
                        Powered by Mined Systems, Inc. ®
                    </td>
                    <td align="right">
                        Copyright© 2011 Mined Systems Metrics Intelligence. All rights reserved.
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
